<section id="arduino" class="well">
    <h2>Arduino</h2>
    <img src="images/social/arduino.jpeg">
    <div class="text-center row"><br><br>
        <p class="lead pull-center">Nato da un'idea semplice, affascinante e geniale: creare dei circuiti elettrici estensibili seguendo i principi del software open-source.</p>
    </div><br><br><br>
</section>