<section id="coderdojo" class="well">
    <div class="row">
        <div class="col-12">
            <h2>CoderDojo</h2>
            <img src="images/coderdojo.jpg">
            <div class="text-center">
                <h2 class="letterpress pull-center">CoderDojo Ticino</h2>
                <p class="lead pull-center">CoderDojo è un movimento senza scopo di lucro che si occupa di istituire dei club e organizzare incontri gratuiti per insegnare ai giovani a programmare. Delle palestre per futuri sviluppatori. Nato in Irlanda nel 2011, si rivolge principalmente agli adolescenti e si sta espandendo a livello globale.</p>
                <p class="lead pull-center">A CoderDojo i giovani imparano a programmare, sviluppare animazioni, applicazioni, programmi, giochi e altro ancora. I ClubDojo sono fondati, gestiti e tenuti da volontari. CoderDojo rende lo sviluppo di software e l’imparare a programmare una cosa divertente, amichevole, un’esperienza esaltante. CoderDojo promuove l’utilizzo del software open source e gratuito e dispone di una forte rete di soci e volontari a livello globale. </p>
                <p class="lead pull-center">Noi ci ritroviamo perfettamente nello spirito open source e gratuito dei CoderDojo. Siamo fieri di essere il primo gruppo CoderDojo in Svizzera. </p>
                <p class="lead pull-center">Libera la tua fantasia! </p>
                <br/><br/>
            </div>
        </div>
    </div><!--/span-->
</section>