<section id="d4k">
    <div class="col-12 well">

        <h2>Devoxx4Kids</h2>
        <img src="images/Devoxx4kids.png"><br/>
        <a onclick="changeLanguage()" class="it">Read this section in English</a>
        <a onclick="changeLanguage()" class="en">Leggi in italiano</a>
        <div class="text-center row it">
            <h2 class="letterpress pull-center">Ispirare gli adolescenti alla programmazione, alla robotica e all’ingegneria … divertendosi!</h2>
            <p class="lead pull-center"><a href="http://devoxx4kids.org" target="_blank">Devoxx4Kids</a> nasce nel 2012 in Belgio, trattasi di un format basato su tecnologie java (ma non solo!) che è stato insignito, l’anno scorso a Los Angeles dalla comunità di sviluppatori java e da Oracle, del prestigioso Duke's Choice Award.</p>
            <p class="lead pull-center">L’obiettivo del format è quello di avvicinare i ragazzi alle materie tecniche con un approccio leggero: ispirarsi alla programmazione, alla robotica e all’ingegneria in maniera ludica.</p>
            <p class="lead pull-center">Gli insegnanti sono professionisti informatici che su base volontaria dedicano del tempo libero per trasmettere la passione ai ragazzi, difatti l’associazione valuta volentieri candidature di specializzati del settore come mentori o monitori per consentire la continuità nel tempo del progetto Ated4kids.</p>
            <p class="lead pull-center">L'utilizzo del formato devoxx4kids per le nostre <a href="#gdt">Giornate della Tecnologia</a> e la sua immediatezza nel portare a dei risultati pratici, ci permette di dare ai ragazzi una visione ampia sulle tecnologie disponibili e di stimolare la loro curiosità per permettergli poi di approfondire i temi che più interessano privatamente, nei nostri corsi o nei doposcuola.</p>
        </div>
        <div class="text-center row en">
            <h2 class="letterpress pull-center">Inspire teenagers to programming, robotics and engineering ... having fun!</h2>
            <p class="lead pull-center"><a href="http://devoxx4kids.org" target="_blank">Devoxx4Kids</a>  was born in 2012 in Belgium, it is a format based on java technologies (but not only) that was awarded last year in Los Angeles by the java developers community and from Oracle, of the prestigious Duke's Choice Award.</p>
            <p class="lead pull-center">The goal of the format is to introduce the students to the technical subjects with a light approach: be inspired by the programming, robotics and engineering in a fun way.</p>
            <p class="lead pull-center">The teachers are computer professionals who voluntarily devote free time to convey their passion to the kids, in fact, the association welcomes IT professionals wanting to join as mentors or monitors to allow for continuity in time of the Ated4kids project. </p>

            <p class="lead pull-center">Due to the devoxx4kids format and its immediacy in bringing practical results, our "Technology Days" allow the kids to get a broad view on available technologies and to stimulate their curiosity. We hope they want to go deeper on their preferred topics privately, during our courses or organizing an after-school program with us.</p>
        </div>
        <br><br><br>

    </div><!--/span-->
</section>