<section id="lego" class="well">
    <h2>LegoMindstorm</h2>
    <img src="images/social/lego.jpeg">
    <div class="text-center row"><br><br>
        <p class="lead pull-center">Il Lego® è sempre stato un prodotto geniale, con Lego Mindstorms® sono riusciti a portare il gioco in una dimensione nuova.</p>
        <p class="lead pull-center">Una dimensione ideale per i ragazzi di oggi! e per il divertimento dei mentors :-)</p>
        <p class="lead pull-center">Insieme agli esperti dell'associazione <a href="http://www.robo-si.ch" target="_blank">Robo-Si</a>, presentiamo dei progetti con robots programmati per compiere delle missioni.</p>
        <p class="lead pull-center">Robo-Si è anche l'organizzatore dei campionati First LEGO League in Ticino.</p>
        <p class="lead pull-center">Ci divertiremo!</p>
        <br><br><p class="lead pull-center">In collaborazione con  <a href="http://www.robo-si.ch" target="_blank"><img src="images/mentors/robo-si_bw_2200.png" width="200px"/></a></p>
    </div><br><br><br>
</section>