<section id="scratch" class="well">
    <h2>Scratch</h2>
    <img src="images/social/scratch.jpeg">
    <div class="text-center row"><br><br>
        <p class="lead pull-center">Nato come progetto MIT e rilasciato con licenza completamente opensource, Scratch è un ambiente di sviluppo completamente grafico e con blocchi di forme diverse che si incastrano per programmare le gli elementi grafici (sprites). </p>
        <p class="lead pull-center">Già dopo pochi minuti di spiegazione i ragazzi riescono e muovere gli oggeti sullo schermo e a farli interagire tra loro.</p>
        <p class="lead pull-center">Facile per iniziare, è comunque uno strumento che offre molte possibilità anche agli sviluppatori più avanzati, sul loro sito scratch.mit.edu vengono condivisi milioni di progetti in forma completamente gratuita e che posso essere usati per imparare.</p>
        <p class="lead pull-center">Lasciatevi sorprendere da quello che si riesce a fare con Scratch!</p>
    </div><br><br><br>

</section>