<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ated4Kids</title>

    <link href="http://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet" type="text/css">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/ated4kids.css" rel="stylesheet">
    <link href="/stylesheets/offcanvas.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body role="document">
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-sm-12 col-md-9">
            <p class="pull-right visible-xs visible-sm">
                <button type="button" class="btn btn-primary btn-xs btn-sm" data-toggle="offcanvas">Altri contenuti</button>
            </p>
            <div class="jumbotron">
                <h1>Lasciamoci ispirare dal mondo ... e ricambiamo!</h1>
                <p>Negli ultimi anni, a livello globale, si stanno creando molte iniziative per insegnare ICT ai giovani. Queste iniziative sono completamente gratuite e spesso ci si scambia il materiale preparato per gli eventi.<br/>
                    Noi vorremmo essere i rappresentanti di questi formati in Ticino per chiunque avesse interesse o domande e contribuiamo offrendo alle community il materiale che prepariamo (in italiano) per le nostre lezioni. </p>
            </div>

            <%= yield %>
        </div><!--/span-->

        <div class="col-xs-6 col-sm-6 col-md-3 sidebar-offcanvas" id="sidebar">

            <div class="list-group">
                <h4 class="list-group-item-heading">Alcuni link interessanti:</h4>
                <a href="http://infogr.am/CoderDojo-Belts-8?src=web" target="_blank" class="list-group-item">CoderDojo Belts</a>
                <a href="http://www.devoxx4kids.org" target="_blank" class="list-group-item">Devoxx4Kids international</a>
            </div>
        </div><!--/span-->
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.2/fastclick.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/orientationchange-fix.js"></script>
<script src="/javascripts/offcanvas.js"></script>
</body>
</html>