<section id="ated" class="text-center well">
    <h2>Ated ICT Ticino</h2>
    <p><a href="http://www.ated.ch" target="_blank">Ated ICT Ticino</a> è presente sul territorio da più di 40 anni e si è contraddistinta per essere
        riuscita a coinvolgere le imprese e i singoli più importanti dell'ICT ticinese organizzando eventi, corsi, visite guidate e altre manifestazioni.
    </p>
    <p>Grazie alla serietà dell'attività svolta sull'arco di quarant'anni di vita, Ated ICT Ticino è diventata un riferimento nel settore per le forze economiche, politiche ed istituzionali, favorendo il dibattito attorno alle tecnologie della informazione e ravvivandone l'interesse presso i giovani.
    </p>
    <p>Anche in questa occasione, sostenendo Ated4Kids, Ated ICT Ticino ha dimostrato la sua velocità nel riuscire a percepire un interesse diffuso tra la popolazione (l'insegnamento di ICT ai bambini) e
        a dare il supporto necessario affinchè le iniziative di pochi potessero diventare una realtà per tutto il cantone.</p>
</section>