<section id="contact" class="text-center well">
    <h2>Contatti</h2>
    <div class="row">
        <div class="col-xs-3 col-md-2">
            <img src="images/mentors/Cristina.JPG" alt="Cristina Giotto" class="img-circle" height="100px" width="100px">
            <div class="team-name">Cristina Giotto</div>
        </div>
        <div class="col-xs-9 col-md-10">
            <div class="team-description">
                Co-fondadrice di Ated4Kids, con il suo entusiasmo e l'energia è l'elemento fondamentale del gruppo, ci dà la carica coinvolgendo i mentors e organizzando e animando i nostri eventi.<br/>
                Grazie anche al suo ruolo di Office manager presso <a href="http://www.ated.ch" target="_blank">Ated ICT Ticino</a> e per aver co-fondato il gruppo <a href="http://ticino.girlgeekdinners.com" target="_blank">GGDT</a>, ha innumerevoli conoscenze nel settore ICT ticinese e riesce sempre a coinvolgerci tutti nelle sue iniziative.<br/>
                Se siete interessati a sponsorizzare Ated4Kids o uno dei nostri eventi, se volete iscrivervi a uno dei nostri corsi o se volete unirvi a noi per creare un Ated4Kids ancora più bello, non esitate a contattare Cristina!

                <div class="team-social">
                    <div class="tweet"><a href="https://twitter.com/CristinaGiotto" target="_blank"></a></div>
                    <a href="mailto:ated4kids@ated.ch"><span class="glyphicon glyphicon-envelope" style="font-size: 33px;"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>