<section id="courses" class="text-center well">
    <h2>Tipi di corsi</h2>

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img src="images/corsi/20140208_105742.JPG" height="150px" alt="Lezioni di gruppo">
                <div class="caption">
                    <h3>Lezioni di gruppo</h3>
                    <p>Libera la tua fantasia! Dai 6 anni in su, offriamo la possibilità di imparare a
                        usare queste nuove tecnologie accompagnati da esperti e professionisti del settore ICT ticinese</p>
                    <p>Per le lezioni usiamo il format <a href="formats.html#coderdojo">CoderDojo</a> che garantisce lo spirito di gruppo, amicizia e solidarietà tra mentor, ragazzi e bambini.</p>
                    <p>Il CoderDojo sarà gratis per sempre grazie al suo spirito volontario e spontaneo.</p>
                    <h4>Un lavoro di squadra per imparare a realizzare i tuoi sogni!</h4>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img src="images/corsi/d4k/20140517/intro_AP.jpg" height="150px" alt="Giornate della tecnologia">
                <div class="caption">
                    <h3>Giornate della tecnologia</h3>
                    <p>Queste giornate evento sono organizzate come conferenze con più sessioni in parallelo.
                        Ogni sessione è un workshop d circa 1h. I ragazzi ricevono una breve introduzione sulla tecnologia e poi provano a completare un paio di esercizi preparati dai mentor.</p>
                    <p>Per le GdT usiamo il format di <a href="formats.html#d4k">devoxx4kids</a> con ragazzi delle scuole medie o superiori (dai 10 anni in su).</p>
                    <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                    <h4>Fatevi coinvolgere da una ventata di entusiasmo!</h4>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img src="images/underconstruction.jpg" height="150px" alt="Doposcuola">
                <div class="caption">
                    <h3>Doposcuola</h3>
                    <p>Molti genitori dimostrano interesse verso le nostre iniziative e ci chiedono di sostenerli nell'organizzazione di corsi doposcuola in informatica.</p>
                    <p>I nostri mentor hanno le capacità e l'accesso al materiale necessari per organizzare le lezioni di un doposcuola.</p>
                    <p>Ogni orgnaizzatore del doposcuola deve trovare 2 adulti volontari che vogliano affiancare il mentor per la preparazione dell'esercizio.</p>
                    <h4>Insieme ai tuoi amici e compagni ... alla scoperta delle tecnologie!</h4>
                </div>
            </div>
        </div>
    </div>
</section>