<section id="goals" class="well">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h3>I nostri scopi</h3>
            <ul>
                <li>Preparare le nuove generazioni a vivere nel mondo digitale.</li>
                <li>Istruire i giovani a usare le tecnologie in modo creativo per esprimersi.</li>
            </ul>
            <h3>La filosofia dei nostri mentors</h3>
            <ul>
                <li>Attenti ai bisogni dei partecipanti</li>
                <li>Predisposti ad infondere fiducia: i bambini hanno le loro competenze e sanno cosa vogliono!</li>
                <li>Li affiancano e guidano senza intervenire e dando loro tempo per trovare la soluzione  </li>
                <li>Li incoraggiano a fare quello che desiderano senza paura di sbagliare</li>
                <li>Li gratificano per quello che stanno facendo</li>
                <li>Incoraggiano i bambini a lavorare con entusiasmo e a divertirsi.</li> 
                <li>Li motivano a lavorare e a condividere in gruppo</li>
                <li>Stimolano la loro creatività</li>
            </ul>
        </div>
    </div>
</section>