<div class="container">
    <h1><%= t(:'media.main_sponsor') %></h1>
    <ul class="list-inline">
        <li><div class="logo bg-warning">Logo</div></li>
        <li><div class="logo bg-success">Logo</div></li>
        <li><div class="logo bg-info">Logo</div></li>
    </ul>
</div>