<section id="a4k" class="text-center well">
    <div class="row">
        <div class="col-md-9">
            <h2>Presentazione Ated4Kids</h2>
            <p>I giovani delle nuove generazioni vengono spesso definiti “nativi digitali” perché sono circondati da molti dispositivi tecnologici e sono bombardati dalle informazioni alla velocità della luce.</p>
            <p>Noi vogliamo offrire loro le conoscenze di base e gli strumenti per poter partecipare alla rivoluzione digitale non solo come utenti consumatori ma anche come creatori di contenuti e applicazioni.</p>

            <h3>"Piccole opportunità sono spesso l'inizio di grandi imprese" (Demostene)</h3>
        </div>
        <div class="col-md-3"><img src="images/logoAted4Kids.png"></div>
    </div>
</section>